.hero-img img {
  height: calc(100vh - 30vh);
  width: 100vw;
  object-fit: cover;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1rem;
  margin: 3rem auto;
  padding: 0 15px;
  max-width: 1200px;

  .heading {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    color: orange;
  }

  .sub-heading {
    font-size: 1rem;
  }
}

.featured {
  max-width: 1200px;
  padding: 0 15px;
  margin: 5rem auto;

  .title {
    font-weight: 400;
    text-align: center;
    margin: 3rem 0;
  }

  .all-books {
    font-weight: 400;
  }

  &-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 3rem 2rem;
    margin: 4rem 0;
  }
}

.explore {
    background-color: #1a1a1a;
    color: #fff !important;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 3rem;
    width: 50%;
}
